* {
  margin: 0;
  padding: 0;
   box-sizing: border-box; 
}
.box{
  background-color: rgb(9, 36, 48);
  height: 1000px;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(10, 27, 22);

}
 .nav{
  color: rgb(228, 228, 228);
  background-color: rgb(17, 35, 46);
  flex-grow: 0.001;
  display: flex;
  align-items: center;
}
.nav div{
  flex: 1;
  height: 12vh;
  text-align: center;
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
/* .nav .navbar{
  background-color: rgb(56, 56, 102);
}
.nav .navbar1{
  background-color: rgb(74, 122, 185);
}*/
.element{
    flex-grow: 0.5;
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.element div{
  flex: 1;
  height: 20vh;
}
.element .element1{
  display: flex;
  align-items: center;

}
.element1 div{
  flex: 1;
  height: 180px;
}
img {
  width: 100%; 
  height: 200px; 
  width: 200px;
}
.element1c{
  transform: rotateY(180deg);
}
.element2c{
  transform: rotateY(180deg);
}
.element3c{
  transform: rotateY(180deg);
}
.element .element2{

  display: flex;
  align-items:center;

}
.element2 div{
  flex: 1;
  height: 180px;
}
.element .element3{
  display: flex;
  align-items: center;

}
.element3 div{
  flex: 1;
  height: 180px;
}/*
.element .element2{
  background-color: rgb(2, 255, 158);
}
.element .element3{
  background-color: rgb(179, 255, 2);
} */
.score{
  flex-grow: 1;
  display: flex;
  align-items:start;
  text-align: center;
  justify-content: center;

}
.score div{
  flex: 1;
  height: 12vh;
}
.score .score5{
  text-align:center;
  font-weight: 700;
  font-size: 70px;

}
.score .score1{
  color: aliceblue;
   line-height: 100px;
  text-align:center;
  font-weight: 700;
  font-size: 40px;

}
.score .score8{
  color: aliceblue;
  line-height: 100px;
  text-align:center;
  font-weight: 700;
  font-size: 40px;

}
#compScore{
  color: aliceblue;
  line-height: 100px;
  text-align:center;
  font-weight: 700;
  font-size: 40px;


}
#userScore{
  color: aliceblue;
  line-height: 100px;
  text-align:center;
  font-weight: 700;
  font-size: 40px;


}
#you{
  line-height: 100px;
  text-align:center;
  font-weight: 700;
  font-size: 40px;

}
#msg{
  border: 4px solid black;
  line-height: 2vh;
  font-size: 25px;
  background-color: rgb(231, 95, 220);
    padding:25px 100px;
    border-radius: 15px;

}
#rock img{
  border: 5px solid black;
  background-color: rgb(243, 243, 84);
  border-radius: 50%;
}
#paper img{
  border: 5px solid black;
  background-color: rgb(67, 236, 200);
  border-radius: 50%;
}
#scissor img{
  border: 5px solid black;
  background-color: rgb(236, 163, 68);
  border-radius: 50%;
}
#rock2 img{
  border: 5px solid black;
  background-color: rgb(243, 243, 84);
  border-radius: 50%;
}
#paper2 img{
  border: 5px solid black;
  background-color:rgb(67, 236, 200);
  border-radius: 50%;
}
#scissor2 img{
  border: 5px solid black;
  background-color:rgb(236, 163, 68);
  border-radius: 50%;
}

#rock img:hover{
  opacity: 0.2;
  cursor: pointer;
}
#paper img:hover{
  opacity: 0.2;
  cursor: pointer;
}
#scissor img:hover{
  opacity: 0.2;
  cursor: pointer;
}
#vs{
  color: white;
  line-height: 170px;
  text-align:center;
  font-weight: 700;
  font-size: 60px;
}

.btn{
    flex-grow: 1;

  }
